# AirDJ - Configuración del Entorno de Desarrollo

# --- CONFIGURACIÓN DE LA CÁMARA ---
# Índice predeterminado de la cámara web a utilizar.
# Si se deja vacío, el sistema buscará cámaras activas automáticamente y 
# te preguntará si encuentra más de una conectada.
# DEFAULT_CAMERA_INDEX=0

# --- CONFIGURACIÓN DE LA VENTANA ---
# Dimensiones iniciales predeterminadas para la ventana de reproducción de video.
DEFAULT_WINDOW_WIDTH=1024
DEFAULT_WINDOW_HEIGHT=768
